@charset "UTF-8";
/*=========TITLE=============*/
/* H1 */
h1 {
  font-weight: 900;
  font-size: 44px;
  color: #ffff;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
}

/* H2 */
.sub-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: var(--section-title-color);
}

/* H3 */
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-title-color);
}

._img,
.icon {
  display: block;
  max-width: 100%;
  height: auto;
  fill: collection-color(social--link--color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

._d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

._is-hidden {
  opacity: 0;
  pointer-events: none;
}

._active {
  color: collection-color(action-color);
}

.flex-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* LOGO */
.logo {
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 94px 0;
}

/* $collection-shadows: (
    'modal-shadow': 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2),
    'card-shadow': 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16),
    'btn-shadow': 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12),    
); */
/* Функции для использования  переменных */
._backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.modal_container {
  margin: 0 auto;
}

.modal__order {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: var(--modal-shadow);
          box-shadow: var(--modal-shadow);
  border-radius: 4px;
  padding: 40px 40px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.form__field {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.form__label {
  position: absolute;
  top: -29px;
  left: 0;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.form__icon {
  position: absolute;
  display: block;
  top: 70%;
  left: 12px;
  -webkit-transform: translateY(-64%);
          transform: translateY(-64%);
}

.form__field--checkbox {
  margin: 0 auto;
}

.form__label--checkbox {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.form__label--checkbox::before {
  content: " ";
  display: inline-block;
  vertical-align: -11%;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__submit-btn {
  margin: 0 auto;
  cursor: pointer;
}

.form__submit-btn:disabled {
  background-color: #757575;
}

.comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: cacl(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: cacl(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: cacl(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-size: 12px;
  line-height: cacl(14/12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-link {
  display: inline;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.button {
  width: 200px;
  height: 50px;
  text-align: center;
  background: #2196f3;
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  line-height: calc(30 / 16);
  outline: none;
  cursor: pointer;
  border: inherit;
}

.btn-close {
  position: absolute;
  top: 7px;
  right: 6px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;
}

.btn-close .icon {
  fill: #000;
}

.btn-close:hover .icon {
  fill: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

li {
  list-style-type: none;
}

a,
address {
  text-decoration: none;
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #cfc2c2;
  background-color: #ffff;
}

.header ._active {
  color: #2196f3;
}

.header ._active.menu__link::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 27px;
}

.header__logo {
  margin-right: 93px;
}

.header__logo span {
  color: #000;
}

.header__logo:focus {
  outline-color: #2196f3;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts li + li {
  margin-left: 20px;
}

.header__contacts li a {
  margin-left: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  cursor: pointer;
}

.menu__list li + li {
  margin-left: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding: 32px 0 30px 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover {
  color: #2196f3;
}

.menu__link:focus {
  outline-color: #2196f3;
  color: #2196f3;
}

.menu__link::after._active {
  position: absolute;
  content: "";
  display: block;
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-top: 27px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: calc(16 / 14);
  text-decoration: none;
  color: #757575;
  padding-top: 2px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link a {
  margin-left: 10px;
}

.contacts__link svg {
  margin-right: 10px;
}

.contacts__link:hover {
  color: #2196f3;
  outline-color: #2196f3;
}

.contacts__link:focus {
  color: #2196f3;
  outline-color: #2196f3;
}

.contacts__link:hover .icon {
  fill: #2196f3;
}

.contacts__link:focus .icon {
  fill: #2196f3;
}

.banner {
  margin: 0 auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 201px 0;
  text-align: center;
}

.banner__title {
  padding: 0 23%;
  margin: 0 0 30px 0;
}

.banner__order-btn {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #2196f3;
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  line-height: calc(30 / 16);
  outline: none;
  cursor: pointer;
  border: inherit;
}

.respons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * var(--card-respons-set-gap));
}

.respons__list li + li {
  margin-left: 30px;
}

.respons__item {
  -ms-flex-preferred-size: calc(100% / 3 - var(--card-respons-set-gap));
      flex-basis: calc(100% / 3 - var(--card-respons-set-gap));
}

.item__icon {
  margin: 0 0 31px 0;
  padding: 25px 0;
  background: #f5f4fa;
  border-radius: 4px;
}

.item h3 {
  text-align: left;
  margin-bottom: 10px;
}

.item p {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

/* . {

    // ._d-flex

    &_d-flex {
    }
}
.icon {
}
 */
.page__team {
  background-color: #f5f4fa;
}

.tasks {
  padding-top: 2px;
}

.tasks__title {
  margin-bottom: 50px;
}

.tasks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tasks__list li:not(:first-child) {
  margin-left: 30px;
}

.tasks__item {
  position: relative;
}

.tasks__item .label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* @mixin transition($args...) {
  $args-list: join($args, null, space);
  transition: $args-list;
}
 */
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: var(--main-bg-color);
  color: var(--common-text-color);
}

/* a {
  background-color: gray;
  text-decoration: none;
  @include transition(color, 0.3s, ease);
  &:hover {
    color: black;
  }
} */
/* @mixin transform($transforms...) {
  // combine the passed transforms into a space separated list
  $transform-list: join($transforms, null, space);

  // print out the transforms
  -webkit-transform: $transform-list;
  -moz-transform: $transform-list;
  -ms-transform: $transform-list;
  -o-transform: $transform-list;
  transform: $transform-list;
}

// Include
span::before {
  @include transform(rotate(90deg), translate(0, 9px));
}
 */
/*# sourceMappingURL=main.css.map */