@import "./componets/_title";
@import "./componets/style";
@import "./utils/variables";
@import "./componets/form";
@import "./utils/null";
@import "./utils/mixins";
@import "./componets/header";
@import "./componets/banner";
@import "./componets/respons";
@import "./componets/tasks";
@import "./componets/footer";
/* @mixin transition($args...) {
  $args-list: join($args, null, space);
  transition: $args-list;
}
 */

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: var(--main-bg-color);
  color: var(--common-text-color);
}
/* a {
  background-color: gray;
  text-decoration: none;
  @include transition(color, 0.3s, ease);
  &:hover {
    color: black;
  }
} */
/* @mixin transform($transforms...) {
  // combine the passed transforms into a space separated list
  $transform-list: join($transforms, null, space);

  // print out the transforms
  -webkit-transform: $transform-list;
  -moz-transform: $transform-list;
  -ms-transform: $transform-list;
  -o-transform: $transform-list;
  transform: $transform-list;
}

// Include
span::before {
  @include transform(rotate(90deg), translate(0, 9px));
}
 */
