.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #cfc2c2;
    background-color: #ffff;

    // .header__logo
    &__logo {
        margin-right: 93px;
    }

    // .header__menu
    &__menu {
    }

    // .header__contacts
    &__contacts {
        display: flex;
        margin-left: auto;
        li{
            display: flex;
            align-items: center;
        }
        li + li{
            margin-left: 20px;
        }
    }
}
.menu {

    // .menu__list

    &__list {
    }

    // .menu__link

    &__link {
    }
}

.contacts {

    // .contacts__link
    &__link {
    }
}